@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/common.scss */
html {
  font-size: 16px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #333333;
  background-color: #000;
}
/* line 12, ../sass/common.scss */
html body {
  line-height: 1.75em;
  position: relative;
  display: grid;
  display: -ms-grid;
  grid-template: 4em auto 3em / 4% 36% 60%;
  -ms-grid-rows: 4em auto auto;
  -ms-grid-columns: 4% 36% 60%;
}
/* line 21, ../sass/common.scss */
html body .menu_open {
  pointer-events: none;
  transition: all .2s ease-out;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
@media all and (max-width: 1500px) {
  /* line 12, ../sass/common.scss */
  html body {
    font-size: 0.875rem;
    grid-template: auto 5em auto 3em / 30% 70%;
    -ms-grid-rows: auto 5em auto 3em;
    -ms-grid-columns: 30% 70%;
  }
}
@media all and (max-width: 1200px) {
  /* line 12, ../sass/common.scss */
  html body {
    font-size: 0.777rem;
    grid-template: auto 4em auto 3em / 100%;
    -ms-grid-rows: auto 4em auto 3em;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
  }
}
@media all and (max-width: 600px) {
  /* line 12, ../sass/common.scss */
  html body {
    font-size: 0.6rem !important;
  }
}
/* line 50, ../sass/common.scss */
html body a {
  color: #0033cc;
  text-decoration: none;
}
/* line 54, ../sass/common.scss */
html body a:hover {
  text-decoration: none;
}
/* line 59, ../sass/common.scss */
html body img {
  border: none;
  line-height: 0;
  vertical-align: bottom;
}
/* line 65, ../sass/common.scss */
html body #pagetop {
  position: fixed;
  bottom: -50px;
  right: 55px;
  z-index: 15;
}
@media all and (max-width: 600px) {
  /* line 65, ../sass/common.scss */
  html body #pagetop {
    position: fixed;
    bottom: -50px;
    right: 10px;
    z-index: 15;
  }
}
/* line 72, ../sass/common.scss */
html body #pagetop a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(1, 32, 82, 0.7);
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
}
