/* CSS Document */
/* line 6, ../sass/footer.scss */
footer {
  color: #fff;
  background-color: #000;
  font-size: 0.8em;
  grid-area: 3 / 3 / 4 / 4;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  position: relative;
  z-index: 1;
}
@media all and (max-width: 1500px) {
  /* line 6, ../sass/footer.scss */
  footer {
    grid-area: 4 / 2 / 5 / 3;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
@media all and (max-width: 1200px) {
  /* line 6, ../sass/footer.scss */
  footer {
    grid-area: 4 / 1 / 5 / 2;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
/* line 28, ../sass/footer.scss */
footer ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 95%;
  margin: 0.5em auto;
  align-items: center;
}
/* line 36, ../sass/footer.scss */
footer ul a {
  color: #FFF;
}
