/* CSS Document */
/* line 6, ../sass/header.scss */
header#top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  grid-area: 1 / 1 / 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  align-items: center;
}
@media all and (max-width: 1500px) {
  /* line 6, ../sass/header.scss */
  header#top {
    grid-area: 1 / 1 / 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
/* line 24, ../sass/header.scss */
header#top #topnavi {
  font-size: 0.8em;
  color: #0033cc;
  text-align: right;
  padding-top: 0.5em;
}
@media all and (max-width: 500px) {
  /* line 24, ../sass/header.scss */
  header#top #topnavi {
    padding-top: 0;
  }
}
/* line 34, ../sass/header.scss */
header#top #topnavi li {
  display: inline;
  margin-left: 2em;
}
@media all and (max-width: 500px) {
  /* line 34, ../sass/header.scss */
  header#top #topnavi li {
    display: block;
    margin-bottom: -0.6em;
  }
}

/* line 46, ../sass/header.scss */
#global {
  color: #fff;
  grid-area: 2 / 1 / 4 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 2;
  position: relative;
  z-index: 2;
  overflow: visible;
}
@media all and (max-width: 1500px) {
  /* line 46, ../sass/header.scss */
  #global {
    grid-area: 2 / 1 / 3 / 3;
    -ms-grid-column: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 2;
    overflow: hidden;
  }
}
/* line 64, ../sass/header.scss */
#global.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 40%;
}
@media all and (max-width: 1500px) {
  /* line 64, ../sass/header.scss */
  #global.fix {
    background-color: #000;
    width: 100%;
    height: 5em;
  }
  /* line 75, ../sass/header.scss */
  #global.fix > dl .menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  /* line 79, ../sass/header.scss */
  #global.fix > dl dd#live img {
    top: 0 !important;
  }
}
@media all and (max-width: 1200px) {
  /* line 64, ../sass/header.scss */
  #global.fix {
    height: 4em;
  }
}
@media all and (max-width: 600px) {
  /* line 90, ../sass/header.scss */
  #global.fix dd#live img {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
  }
}
/* line 96, ../sass/header.scss */
#global .new {
  position: absolute;
  top: 0.4em;
  right: 0;
  z-index: 1;
  width: 1.5em !important;
  height: 1.5em !important;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
  line-height: 0.8em;
  color: #fff;
  background-color: #F00 !important;
  border-radius: 1.5em !important;
  padding-top: 0.4em !important;
}
/* line 110, ../sass/header.scss */
#global > dl {
  display: grid;
  display: -ms-grid;
  grid-template: auto auto auto / 0.75fr 9.25fr;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 0.75fr 9.25fr;
}
@media all and (max-width: 1500px) {
  /* line 110, ../sass/header.scss */
  #global > dl {
    grid-template: auto auto / 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 600px) {
  /* line 110, ../sass/header.scss */
  #global > dl {
    grid-template: auto auto auto auto  / 10% 90%;
    -ms-grid-rows: auto auto auto auto;
    -ms-grid-columns: 10% 90%;
  }
}
/* line 130, ../sass/header.scss */
#global > dl .menu-trigger, #global > dl .menu-trigger span {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 136, ../sass/header.scss */
#global > dl .menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  cursor: pointer;
  padding: 1em 0.7vw;
}
/* line 141, ../sass/header.scss */
#global > dl .menu-trigger .new {
  position: absolute;
  top: 0.5em;
  left: 3.5em;
  z-index: 1;
}
@media all and (max-width: 1500px) {
  /* line 146, ../sass/header.scss */
  #global > dl .menu-trigger .new {
    position: absolute;
    top: 0.4em;
    left: 4em;
    z-index: 1;
  }
}
@media all and (max-width: 600px) {
  /* line 153, ../sass/header.scss */
  #global > dl .menu-trigger .new {
    position: absolute;
    top: 0.4em;
    left: 3.5em;
    z-index: 1;
  }
}
/* line 158, ../sass/header.scss */
#global > dl .menu-trigger span {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  width: 2.5em;
}
/* line 164, ../sass/header.scss */
#global > dl .menu-trigger span:nth-of-type(2) {
  margin: 0.7em 0;
}
/* line 169, ../sass/header.scss */
#global > dl .menu-trigger.on {
  background: none;
}
/* line 172, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(1) {
  -webkit-transform: translateY(0.85em) rotate(-315deg);
  transform: translateY(0.85em) rotate(-315deg);
}
/* line 177, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(2) {
  opacity: 0;
}
/* line 181, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(3) {
  -webkit-transform: translateY(-0.85em) rotate(315deg);
  transform: translateY(-0.85em) rotate(315deg);
}
/* line 187, ../sass/header.scss */
#global > dl .menu-trigger i {
  font-size: 0.9em;
}
@media all and (max-width: 1200px) {
  /* line 187, ../sass/header.scss */
  #global > dl .menu-trigger i {
    font-size: 1.25em;
    display: block;
    float: left;
    margin: -1.3em 0 0 3em;
  }
}
@media all and (max-width: 940px) {
  /* line 187, ../sass/header.scss */
  #global > dl .menu-trigger i {
    display: none;
  }
}
/* line 203, ../sass/header.scss */
#global > dl > dd#live {
  grid-area: 2 / 1 / 4 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  justify-self: center;
  justify-align: start;
  -ms-grid-row-align: start;
  -ms-grid-column-align: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
/* line 216, ../sass/header.scss */
#global > dl > dd#live img {
  width: 95%;
  height: auto;
  margin: 0 0 0 0.5vw;
}
@media all and (max-width: 1500px) {
  /* line 216, ../sass/header.scss */
  #global > dl > dd#live img {
    width: 23vw;
    min-width: 325px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
}
@media all and (max-width: 1200px) {
  /* line 216, ../sass/header.scss */
  #global > dl > dd#live img {
    width: 19vw;
    min-width: 227px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
}
@media all and (max-width: 600px) {
  /* line 216, ../sass/header.scss */
  #global > dl > dd#live img {
    width: 15vw;
    min-width: 185px;
  }
}
@media all and (max-width: 1500px) {
  /* line 203, ../sass/header.scss */
  #global > dl > dd#live {
    grid-area: 1 / 3 / 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    justify-self: end;
    justify-align: end;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
    text-align: right;
  }
}
@media all and (max-width: 600px) {
  /* line 203, ../sass/header.scss */
  #global > dl > dd#live {
    text-align: right;
    grid-area: 1 / 2 / 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
}
/* line 260, ../sass/header.scss */
#global > dl > dd:not(#live) {
  grid-column: 2;
  -ms-grid-column: 2;
  padding: 2em;
  background-color: #000;
  position: relative;
  top: 0;
  left: -100vw;
  z-index: 11;
}
/* line 270, ../sass/header.scss */
#global > dl > dd:not(#live):nth-of-type(3) {
  -ms-grid-row: 2;
}
/* line 274, ../sass/header.scss */
#global > dl > dd:not(#live):nth-of-type(4) {
  -ms-grid-row: 3;
}
@media all and (max-width: 1500px) {
  /* line 260, ../sass/header.scss */
  #global > dl > dd:not(#live) {
    grid-row: 2;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    left: 0;
    top: -205vw;
    margin-top: -1em;
  }
  /* line 287, ../sass/header.scss */
  #global > dl > dd:not(#live):nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    border-left: #fff 1px dotted;
    border-right: #fff 1px dotted;
  }
  /* line 295, ../sass/header.scss */
  #global > dl > dd:not(#live):nth-of-type(4) {
    -ms-grid-row: 2;
    grid-column: 3;
    -ms-grid-column: 3;
  }
}
@media all and (max-width: 600px) {
  /* line 260, ../sass/header.scss */
  #global > dl > dd:not(#live) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 1 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    margin-top: -2em;
    padding-bottom: 3em;
    overflow: visible !important;
  }
  /* line 312, ../sass/header.scss */
  #global > dl > dd:not(#live):nth-of-type(3) {
    grid-row: 3;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    border: none !important;
  }
  /* line 321, ../sass/header.scss */
  #global > dl > dd:not(#live):nth-of-type(4) {
    grid-row: 4;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
/* line 330, ../sass/header.scss */
#global > dl > dd:not(#live) dl {
  margin: 0 auto;
}
/* line 333, ../sass/header.scss */
#global > dl > dd:not(#live) dl dt {
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}
/* line 341, ../sass/header.scss */
#global > dl > dd:not(#live) dl dd {
  background: none;
  margin: 0.5em 0 0 1.5em;
  color: #737373;
  position: relative;
}
/* line 347, ../sass/header.scss */
#global > dl > dd:not(#live) dl dd a {
  color: #fff;
}
/* line 350, ../sass/header.scss */
#global > dl > dd:not(#live) dl dd a.active {
  color: #2c7eff;
  text-decoration: line-through;
}
/* line 356, ../sass/header.scss */
#global > dl > dd:not(#live) dl dd span {
  margin-right: 0.5rem;
}
/* line 362, ../sass/header.scss */
#global > dl > dd:not(#live) i {
  font-style: normal;
  font-family: century;
  font-weight: normal;
  font-size: 0.6rem;
  margin-left: 1rem;
}
@media all and (max-width: 940px) {
  /* line 362, ../sass/header.scss */
  #global > dl > dd:not(#live) i {
    display: none;
  }
}
