@charset "UTF-8";
/* CSS Document */
@keyframes load {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* line 18, ../sass/main.scss */
main {
  grid-area: 2 / 2 / 4 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  display: grid;
  display: -ms-grid;
  grid-template: auto / 37.5% 62.5%;
  -ms-grid-rows: auto;
  -ms-grid-columns: 37.5% 62.5%;
}
@media all and (max-width: 1500px) {
  /* line 18, ../sass/main.scss */
  main {
    grid-area: 3 / 1 / 5 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-template: auto / 30% 70%;
    -ms-grid-rows: auto;
    -ms-grid-columns: 30% 70%;
  }
}
@media all and (max-width: 1200px) {
  /* line 18, ../sass/main.scss */
  main {
    grid-template: 50em auto/100%;
    -ms-grid-rows: 50em auto;
    -ms-grid-columns: 100%;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 1;
  }
}
/* line 49, ../sass/main.scss */
main > header {
  grid-area: 1 / 1 / 2 / 2;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  color: #fff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: 0;
  position: relative;
}
/* line 63, ../sass/main.scss */
main > header.bg1 {
  background-image: url(../img/common/01.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg2 {
  background-image: url(../img/common/02.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg3 {
  background-image: url(../img/common/03.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg4 {
  background-image: url(../img/common/04.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg5 {
  background-image: url(../img/common/05.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg6 {
  background-image: url(../img/common/06.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg7 {
  background-image: url(../img/common/07.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg8 {
  background-image: url(../img/common/08.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg9 {
  background-image: url(../img/common/09.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg10 {
  background-image: url(../img/common/10.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg11 {
  background-image: url(../img/common/11.jpg);
}
/* line 63, ../sass/main.scss */
main > header.bg12 {
  background-image: url(../img/common/12.jpg);
}
/* line 73, ../sass/main.scss */
main > header.fix {
  position: fixed;
  top: 0;
  left: 4%;
  z-index: 0;
  width: 36%;
  height: 100%;
}
@media all and (max-width: 1500px) {
  /* line 73, ../sass/main.scss */
  main > header.fix {
    top: 5em;
    left: 0;
    width: 30%;
  }
}
@media all and (max-width: 1200px) {
  /* line 73, ../sass/main.scss */
  main > header.fix {
    top: 4em;
    width: 100%;
  }
}
/* line 90, ../sass/main.scss */
main > header h2 {
  position: absolute;
  top: 28%;
  left: 50%;
  z-index: 0;
  margin: -115px 0 0 -125px;
}
@media all and (max-width: 1500px) {
  /* line 90, ../sass/main.scss */
  main > header h2 {
    position: absolute;
    top: 23%;
    left: 50%;
    z-index: 0;
  }
}
@media all and (max-width: 1200px) {
  /* line 90, ../sass/main.scss */
  main > header h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 0;
  }
}
@media all and (max-width: 600px) {
  /* line 90, ../sass/main.scss */
  main > header h2 {
    margin: -50px 0 0 -75px;
  }
}
/* line 106, ../sass/main.scss */
main > header h2 img {
  width: 250px;
  height: auto;
}
@media all and (max-width: 600px) {
  /* line 106, ../sass/main.scss */
  main > header h2 img {
    width: 150px;
  }
}
/* line 116, ../sass/main.scss */
main > header h3 {
  text-align: center;
  font-size: 3em;
  line-height: 1.15em;
  font-weight: normal;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
  margin-top: 9em;
  font-weight: bold;
}
@media all and (max-width: 1200px) {
  /* line 116, ../sass/main.scss */
  main > header h3 {
    margin-top: 9.5em;
  }
}
/* line 129, ../sass/main.scss */
main > header h3 span {
  display: block !important;
  font-size: 2.5em !important;
  margin-bottom: 0.2em;
}
/* line 136, ../sass/main.scss */
main > header p {
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}
@media all and (max-width: 600px) {
  /* line 136, ../sass/main.scss */
  main > header p {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 5em;
  }
}
/* line 149, ../sass/main.scss */
main > header p#scroll {
  margin: 5em 0 0 3em;
  cursor: pointer;
}
@media all and (max-width: 600px) {
  /* line 149, ../sass/main.scss */
  main > header p#scroll {
    display: none;
  }
}
/* line 157, ../sass/main.scss */
main > header p#scroll span {
  display: block;
  margin: -0.2em 0 0;
}
/* line 165, ../sass/main.scss */
main > article, main > div {
  grid-area: 1 / 2 / 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  /* line 165, ../sass/main.scss */
  main > article, main > div {
    grid-area: 2 / 1 / 3 / 2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
/* line 177, ../sass/main.scss */
main > article #pan, main > div #pan {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
  padding: 0.5em;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
@media all and (max-width: 500px) {
  /* line 187, ../sass/main.scss */
  main > article a, main > div a {
    position: relative;
    z-index: 5;
  }
}
/* line 193, ../sass/main.scss */
main > article .single, main > div .single {
  display: block;
  padding: 0 3% 5em 3%;
}
/* line 197, ../sass/main.scss */
main > article .single > *:not(header), main > div .single > *:not(header) {
  padding-top: 2em;
}
/* line 201, ../sass/main.scss */
main > article .single img, main > div .single img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1em;
}
/* line 209, ../sass/main.scss */
main > article .half, main > div .half {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 5em;
}
/* line 215, ../sass/main.scss */
main > article .half > *:not(header), main > div .half > *:not(header) {
  width: 50% !important;
  border-top: none;
  padding: 2em 3% !important;
}
/* line 220, ../sass/main.scss */
main > article .half > *:not(header):nth-of-type(even), main > div .half > *:not(header):nth-of-type(even) {
  border-left: 1px dotted gray;
}
@media all and (max-width: 600px) {
  /* line 215, ../sass/main.scss */
  main > article .half > *:not(header), main > div .half > *:not(header) {
    width: 100% !important;
  }
  /* line 227, ../sass/main.scss */
  main > article .half > *:not(header):not(dl), main > div .half > *:not(header):not(dl) {
    border-left: none !important;
  }
  /* line 230, ../sass/main.scss */
  main > article .half > *:not(header):not(dl):nth-of-type(odd), main > div .half > *:not(header):not(dl):nth-of-type(odd) {
    border-top: none;
  }
}
/* line 236, ../sass/main.scss */
main > article .half > *:not(header) img, main > div .half > *:not(header) img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1em;
}
/* line 243, ../sass/main.scss */
main > article .half > *:not(header) dl, main > article .half > *:not(header) ul, main > article .half > *:not(header) p, main > article .half > *:not(header) table, main > div .half > *:not(header) dl, main > div .half > *:not(header) ul, main > div .half > *:not(header) p, main > div .half > *:not(header) table {
  margin: 1em 0;
}
/* line 249, ../sass/main.scss */
main > article .one_third, main > div .one_third {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 5em;
}
/* line 256, ../sass/main.scss */
main > article .one_third > *:not(header), main > div .one_third > *:not(header) {
  width: 33.3333333333% !important;
  border-top: none;
  border-bottom: none;
  padding: 2em 3%;
}
/* line 262, ../sass/main.scss */
main > article .one_third > *:not(header):nth-of-type(3n-1), main > div .one_third > *:not(header):nth-of-type(3n-1) {
  border-left: gray dotted 1px;
  border-right: gray dotted 1px;
}
@media all and (max-width: 600px) {
  /* line 262, ../sass/main.scss */
  main > article .one_third > *:not(header):nth-of-type(3n-1), main > div .one_third > *:not(header):nth-of-type(3n-1) {
    border-left: none;
    border-right: none;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
  }
}
@media all and (max-width: 600px) {
  /* line 256, ../sass/main.scss */
  main > article .one_third > *:not(header), main > div .one_third > *:not(header) {
    width: 100% !important;
  }
}
/* line 278, ../sass/main.scss */
main > article .one_third > *:not(header) h5, main > div .one_third > *:not(header) h5 {
  margin-top: 5em !important;
}
/* line 282, ../sass/main.scss */
main > article .one_third > *:not(header) p, main > div .one_third > *:not(header) p {
  margin-bottom: 2em;
}
/* line 286, ../sass/main.scss */
main > article .one_third > *:not(header) img, main > div .one_third > *:not(header) img {
  width: 100%;
  height: auto;
}
/* line 293, ../sass/main.scss */
main > article .quarter, main > div .quarter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 3% 7em 3%;
}
/* line 299, ../sass/main.scss */
main > article .quarter > *:not(header), main > div .quarter > *:not(header) {
  width: 50% !important;
  padding: 1em !important;
  border: none !important;
}
/* line 304, ../sass/main.scss */
main > article .quarter > *:not(header):nth-of-type(4n-1), main > article .quarter > *:not(header):nth-of-type(4n-2), main > div .quarter > *:not(header):nth-of-type(4n-1), main > div .quarter > *:not(header):nth-of-type(4n-2) {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 308, ../sass/main.scss */
main > article .quarter > *:not(header):nth-of-type(4n), main > article .quarter > *:not(header):nth-of-type(4n-3), main > div .quarter > *:not(header):nth-of-type(4n), main > div .quarter > *:not(header):nth-of-type(4n-3) {
  background-color: rgba(255, 255, 255, 0.4);
}
@media all and (max-width: 1200px) {
  /* line 299, ../sass/main.scss */
  main > article .quarter > *:not(header), main > div .quarter > *:not(header) {
    width: 25% !important;
  }
  /* line 315, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(8n-1), main > article .quarter > *:not(header):nth-of-type(8n-3), main > article .quarter > *:not(header):nth-of-type(8n-4), main > article .quarter > *:not(header):nth-of-type(8n-6), main > div .quarter > *:not(header):nth-of-type(8n-1), main > div .quarter > *:not(header):nth-of-type(8n-3), main > div .quarter > *:not(header):nth-of-type(8n-4), main > div .quarter > *:not(header):nth-of-type(8n-6) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 319, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(8n), main > article .quarter > *:not(header):nth-of-type(8n-2), main > article .quarter > *:not(header):nth-of-type(8n-5), main > article .quarter > *:not(header):nth-of-type(8n-7), main > div .quarter > *:not(header):nth-of-type(8n), main > div .quarter > *:not(header):nth-of-type(8n-2), main > div .quarter > *:not(header):nth-of-type(8n-5), main > div .quarter > *:not(header):nth-of-type(8n-7) {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media all and (max-width: 940px) {
  /* line 299, ../sass/main.scss */
  main > article .quarter > *:not(header), main > div .quarter > *:not(header) {
    width: 50% !important;
  }
  /* line 327, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(4n-1), main > article .quarter > *:not(header):nth-of-type(4n-2), main > div .quarter > *:not(header):nth-of-type(4n-1), main > div .quarter > *:not(header):nth-of-type(4n-2) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 331, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(4n), main > article .quarter > *:not(header):nth-of-type(4n-3), main > div .quarter > *:not(header):nth-of-type(4n), main > div .quarter > *:not(header):nth-of-type(4n-3) {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media all and (max-width: 600px) {
  /* line 299, ../sass/main.scss */
  main > article .quarter > *:not(header), main > div .quarter > *:not(header) {
    width: 100% !important;
  }
  /* line 339, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(even), main > div .quarter > *:not(header):nth-of-type(even) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 343, ../sass/main.scss */
  main > article .quarter > *:not(header):nth-of-type(odd), main > div .quarter > *:not(header):nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
/* line 348, ../sass/main.scss */
main > article .quarter > *:not(header) dl, main > article .quarter > *:not(header) p, main > div .quarter > *:not(header) dl, main > div .quarter > *:not(header) p {
  margin: 1em !important;
}
/* line 352, ../sass/main.scss */
main > article .quarter > *:not(header) img, main > div .quarter > *:not(header) img {
  width: 100%;
  height: auto;
  padding: 0 1em;
}
/* line 360, ../sass/main.scss */
main > article .center, main > div .center {
  text-align: center;
  margin: 2em 3%;
}
/* line 366, ../sass/main.scss */
main .contents {
  width: 100%;
  background: center top no-repeat fixed;
  overflow: hidden;
  background-size: cover;
}
/* line 374, ../sass/main.scss */
main .contents.bg1 {
  background-image: url(../img/common/01.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg2 {
  background-image: url(../img/common/02.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg3 {
  background-image: url(../img/common/03.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg4 {
  background-image: url(../img/common/04.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg5 {
  background-image: url(../img/common/05.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg6 {
  background-image: url(../img/common/06.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg7 {
  background-image: url(../img/common/07.png);
}
/* line 374, ../sass/main.scss */
main .contents.bg8 {
  background-image: url(../img/common/08.png);
}
/* line 379, ../sass/main.scss */
main .contents header {
  text-align: center;
  margin: 7em 0;
  color: #012052;
  width: 100%;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
/* line 386, ../sass/main.scss */
main .contents header h4 {
  font-size: 2em;
  line-height: 100%;
  font-weight: bold;
}
/* line 392, ../sass/main.scss */
main .contents header p {
  margin: 0.5em 0 0 !important;
  font-weight: bold;
}
/* line 398, ../sass/main.scss */
main .contents hr {
  display: block;
  border-top: 1px dotted gray;
  margin-bottom: 4em;
}
/* line 406, ../sass/main.scss */
main .contents > section > div, main .contents > div > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em 0;
}
@media all and (max-width: 600px) {
  /* line 406, ../sass/main.scss */
  main .contents > section > div, main .contents > div > div {
    flex-flow: row wrap;
  }
  /* line 414, ../sass/main.scss */
  main .contents > section > div dl, main .contents > div > div dl {
    margin-top: 1em !important;
  }
}
/* line 420, ../sass/main.scss */
main .contents > section table, main .contents > div table {
  border-collapse: collapse;
  border: #b3b3b3 solid 1px;
  padding: 0;
  width: 100%;
}
/* line 427, ../sass/main.scss */
main .contents > section table.border caption, main .contents > div table.border caption {
  color: #666666 !important;
}
/* line 434, ../sass/main.scss */
main .contents .back_gray, main .contents .back_gray th, main .contents .back_gray td {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 438, ../sass/main.scss */
main .contents .back_white, main .contents .back_white th, main .contents .back_white td {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 442, ../sass/main.scss */
main .contents figure {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
/* line 448, ../sass/main.scss */
main .contents figure figcaption {
  margin-top: 0.5rem;
}
/* line 453, ../sass/main.scss */
main .contents h5, main .contents caption {
  color: #012052;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
}
/* line 461, ../sass/main.scss */
main .contents dl, main .contents .frame, main .contents .box {
  padding: 1em;
  border: #999 3px double !important;
  overflow: hidden;
  zoom: 1;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0.5em;
}
/* line 470, ../sass/main.scss */
main .contents dt {
  color: #012052;
  font-weight: bold;
  clear: both;
  text-align: center;
  margin-top: 2em;
}
/* line 477, ../sass/main.scss */
main .contents dt:first-child {
  margin: 0;
}
/* line 482, ../sass/main.scss */
main .contents dd {
  overflow: hidden;
  text-align: center;
}
/* line 486, ../sass/main.scss */
main .contents dd a {
  color: #2c7eff;
}
/* line 489, ../sass/main.scss */
main .contents dd a span {
  margin-right: 0.5em;
}
/* line 495, ../sass/main.scss */
main .contents .box {
  margin: 3em 0 !important;
}
/* line 498, ../sass/main.scss */
main .contents .box dt {
  float: left;
  margin-top: 0;
  width: 7em;
  text-align: right;
}
/* line 505, ../sass/main.scss */
main .contents .box dd {
  text-align: left;
  margin: 0 0 0.5em 0;
  border-bottom: #666 1px dotted;
  padding-left: 7em;
  overflow: visible;
}
/* line 512, ../sass/main.scss */
main .contents .box dd:last-of-type {
  border: none;
}
