/* CSS Document */
/* line 6, ../sass/results.scss */
.contents {
  display: grid;
  display: -ms-grid;
  grid-template: auto auto/ 1fr 2fr 1fr;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr 2fr 1fr;
  padding: 0 3% 7em 3%;
}
@media all and (max-width: 940px) {
  /* line 6, ../sass/results.scss */
  .contents {
    grid-template: auto auto auto/ 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    -ms-grid-columns: 1fr 1fr;
  }
}
@media all and (max-width: 600px) {
  /* line 6, ../sass/results.scss */
  .contents {
    grid-template: auto auto auto auto/100%;
    -ms-grid-rows: auto auto auto auto;
    -ms-grid-columns: 100%;
  }
}
/* line 26, ../sass/results.scss */
.contents > header {
  grid-area: 1 / 1 / 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
@media all and (max-width: 940px) {
  /* line 26, ../sass/results.scss */
  .contents > header {
    grid-area: 1 / 1 / 2 / 3;
    -ms-grid-column-span: 2;
  }
}
@media all and (max-width: 600px) {
  /* line 26, ../sass/results.scss */
  .contents > header {
    grid-area: 1 / 1 / 2 / 2;
    -ms-grid-column-span: 1;
  }
}
/* line 43, ../sass/results.scss */
.contents > section {
  grid-area: 2 / 2 / 3 / 3;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 0 5%;
}
@media all and (max-width: 940px) {
  /* line 43, ../sass/results.scss */
  .contents > section {
    grid-area: 2 / 1 / 3 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    border-bottom: 1px dotted #4d4d4d;
  }
  /* line 58, ../sass/results.scss */
  .contents > section:last-child {
    border: none;
  }
}
@media all and (max-width: 600px) {
  /* line 43, ../sass/results.scss */
  .contents > section {
    grid-area: 2 / 1 / 3 / 2;
    -ms-grid-column-span: 1;
  }
}
/* line 68, ../sass/results.scss */
.contents > section h5 {
  margin: 0;
}
/* line 74, ../sass/results.scss */
.contents > section div section {
  padding: 0;
}
/* line 77, ../sass/results.scss */
.contents > section div section p {
  margin: 0;
}
/* line 81, ../sass/results.scss */
.contents > section div section table {
  width: 25vw !important;
}
@media all and (max-width: 1500px) {
  /* line 81, ../sass/results.scss */
  .contents > section div section table {
    width: 29vw !important;
  }
}
@media all and (max-width: 1200px) {
  /* line 81, ../sass/results.scss */
  .contents > section div section table {
    width: 41vw !important;
  }
}
@media all and (max-width: 940px) {
  /* line 81, ../sass/results.scss */
  .contents > section div section table {
    width: 82vw !important;
  }
}
@media all and (max-width: 500px) {
  /* line 81, ../sass/results.scss */
  .contents > section div section table {
    width: 81vw !important;
  }
}
/* line 105, ../sass/results.scss */
.contents > section ul .prev {
  position: absolute;
  top: 50em;
  left: -0.2em;
  z-index: 2;
  display: none;
}
/* line 110, ../sass/results.scss */
.contents > section ul .next {
  position: absolute;
  top: 50em;
  right: -0.2em;
  z-index: 2;
}
/* line 114, ../sass/results.scss */
.contents > section ul a {
  color: #012052;
}
/* line 117, ../sass/results.scss */
.contents > section ul a:hover {
  color: #035be9;
}
/* line 126, ../sass/results.scss */
.contents table.member {
  border-collapse: collapse !important;
  border: #b3b3b3 solid 1px !important;
}
@media all and (max-width: 1200px) {
  /* line 126, ../sass/results.scss */
  .contents table.member {
    width: 100%;
    justify-self: center;
    -ms-flex-item-align: center;
  }
}
/* line 137, ../sass/results.scss */
.contents table.member:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
@media all and (max-width: 940px) {
  /* line 137, ../sass/results.scss */
  .contents table.member:nth-of-type(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media all and (max-width: 600px) {
  /* line 137, ../sass/results.scss */
  .contents table.member:nth-of-type(1) {
    width: 100%;
    margin-bottom: 5em;
  }
}
/* line 152, ../sass/results.scss */
.contents table.member:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
@media all and (max-width: 940px) {
  /* line 152, ../sass/results.scss */
  .contents table.member:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}
@media all and (max-width: 600px) {
  /* line 152, ../sass/results.scss */
  .contents table.member:nth-of-type(2) {
    width: 100%;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
/* line 170, ../sass/results.scss */
.contents table caption span {
  font-size: 1.25em;
}
/* line 174, ../sass/results.scss */
.contents table thead th {
  background-color: rgba(77, 77, 77, 0.8);
  color: #fff;
}
/* line 179, ../sass/results.scss */
.contents table th, .contents table td {
  border-right: #b3b3b3 dotted 1px;
  padding: 0.7em 0.5em;
  text-align: center;
  width: auto;
}
/* line 186, ../sass/results.scss */
.contents table.battery {
  border: none;
  width: auto;
  border-collapse: separate;
  border-spacing: 0 0.5em;
  margin-bottom: 5em !important;
}
/* line 193, ../sass/results.scss */
.contents table.battery th, .contents table.battery td {
  border: none;
  text-align: left;
  padding: 0.4em;
  line-height: 100%;
}
/* line 200, ../sass/results.scss */
.contents table.battery .b_n {
  background-color: rgba(44, 126, 255, 0.9);
  color: #fff;
}
/* line 205, ../sass/results.scss */
.contents table.battery .b_e {
  background-color: rgba(77, 77, 77, 0.8);
  color: #fff;
}
/* line 211, ../sass/results.scss */
.contents table.score {
  font-size: 80%;
}
/* line 214, ../sass/results.scss */
.contents table.score thead th {
  background-color: rgba(1, 32, 82, 0.8);
}
/* line 219, ../sass/results.scss */
.contents table .current {
  background-color: rgba(26, 26, 26, 0.8) !important;
  font-weight: bold;
}
/* line 223, ../sass/results.scss */
.contents table .current a {
  color: #fff;
}
/* line 230, ../sass/results.scss */
.contents table.blue caption {
  color: #2c7eff !important;
}
/* line 234, ../sass/results.scss */
.contents table.blue thead th {
  background-color: rgba(44, 126, 255, 0.9);
}
/* line 239, ../sass/results.scss */
.contents table .back_blue th, .contents table .back_blue td {
  background-color: rgba(223, 235, 255, 0.9);
}
/* line 244, ../sass/results.scss */
.contents .ntt thead th {
  background-color: rgba(44, 126, 255, 0.9);
  color: #FFF;
}
/* line 249, ../sass/results.scss */
.contents .enemy thead th {
  background-color: rgba(77, 77, 77, 0.8);
  color: #FFF;
}
