@charset "utf-8";
/* CSS Document */

@import "settings";

footer {
	color	 		: $white;
	background-color: $black;
	font-size		: 0.8em;
	grid-area		: 3 / 3 / 4 / 4;
	-ms-grid-row	: 3;
	-ms-grid-column	: 3;
	position		: $r;
	z-index			: 1;
	
	@include media($of) {
		grid-area			: 4 / 2 / 5 / 3;
		-ms-grid-row		: 4;
		-ms-grid-column		: 2;
	}
	
	@include media($ot) {
		grid-area			: 4 / 1 / 5 / 2;
		-ms-grid-row		: 4;
		-ms-grid-column		: 1;
	}

	ul {
		display			: flex;
		justify-content	: space-between;
		flex-flow		: row nowrap;
		width			: $max * 0.95;
		margin			: 0.5em auto;
		align-items		: center;
	
		a {
			color: #FFF;
		}
	}
}