@charset "utf-8";
/* CSS Document */

@import "settings";

.contents {
	display		 		: grid;
	display				: -ms-grid;
	grid-template		: auto auto/ 1fr 2fr 1fr;
	-ms-grid-rows		: auto auto;
	-ms-grid-columns	: 1fr 2fr 1fr;
	padding				: 0 $max*0.03 7em $max*0.03;
	
	@include media($nf) {		
		grid-template		: auto auto auto/ 1fr 1fr;
		-ms-grid-rows		: auto auto auto;
		-ms-grid-columns	: 1fr 1fr;
	}
	
	@include media($six) {		
		grid-template		: auto auto auto auto / $max;
		-ms-grid-rows		: auto auto auto auto;
		-ms-grid-columns	: $max;
	}
	
	& > header {
		grid-area			: 1 / 1 / 2 / 4;
		-ms-grid-row		: 1;
		-ms-grid-column		: 1;
		-ms-grid-column-span: 3;
		
		@include media($nf) {		
			grid-area			: 1 / 1 / 2 / 3;
			-ms-grid-column-span: 2;
		}
		
		@include media($six) {		
			grid-area			: 1 / 1 / 2 / 2;
			-ms-grid-column-span: 1;
		}
	}
	
	& > section {
		grid-area		: 2 / 2 / 3 / 3;
    	-ms-grid-row	: 2;
		-ms-grid-column	: 2;
		overflow		: hidden;
		text-align		: center;
		position		: $r;
		margin			: 0 $max*0.05;
		
		@include media($nf) {
			grid-area	 		: 2 / 1 / 3 / 3;
			-ms-grid-column		: 1;
			-ms-grid-column-span: 2;
			border-bottom: 1px dotted lighten($black , 30%);
			
			&:last-child {
				border: none;
			}
		}
		
		@include media($six) {		
			grid-area			: 2 / 1 / 3 / 2;
			-ms-grid-column-span: 1;
		}
		
		h5 {
			margin: 0;
		}
		
		div {
			
			section {
				padding : 0;
				
				p {
					margin: 0;
				}
				
				table {
					width: 25vw !important;
					
					@include media($of) {
						width: 29vw !important;
					}
					
					@include media($ot) {
						width: 41vw !important;
					}
					
					@include media($nf) {
						width: 82vw !important;
					}
					
					@include media($fh) {
						width: 81vw !important;
					}
				}
			}
		}
		
		ul {
		
			.prev {
				@include abT(50em,-0.2em,2);
				display	: none;
			}
			
			.next {
				@include abR(50em,-0.2em,2);
			}
			
			a {
				color: $navy;
				
				&:hover {
					color: lighten($navy,30%);
				}
			}
		}
	}
	
	table {
		
		&.member {
			border-collapse : collapse !important;
			border			: lighten($black,70%) solid 1px !important;

			
			@include media($ot) {
				width				: $max;
				justify-self		: center;
				-ms-flex-item-align	: center;
			}
			
			&:nth-of-type(1) {
				-ms-grid-row	: 2;
				-ms-grid-column	: 1;
		
				@include media($nf) {
					-ms-grid-row	: 3;
					-ms-grid-column	: 1;
				}
		
				@include media($six) {
					width		 : $max;
					margin-bottom: 5em;
				}
			}
			
			&:nth-of-type(2) {
				-ms-grid-row	: 2;
				-ms-grid-column	: 3;
				
				@include media($nf) {
					-ms-grid-row	: 3;
					-ms-grid-column	: 2;
				}
		
				@include media($six) {
					width			: $max;
					-ms-grid-row	: 4;
					-ms-grid-column	: 1;

				}
			}
		}
		
		caption span {
			font-size: 1.25em;
		}
		
		thead th {
			background-color: lighten($modal,30%);
			color: $white;
		}
	
		th,td {
			border-right: lighten($black,70%) dotted 1px;
			padding		: 0.7em 0.5em;
			text-align	: center;
			width		: auto;
		}
		
		&.battery {
			border			: none;
			width			: auto;
			border-collapse	: separate;
			border-spacing	: 0 0.5em;
			margin-bottom	: 5em !important;
			
			th,td {
				border		: none;
				text-align	: left;
				padding		: 0.4em;
				line-height	: $max;
			}
			
			.b_n {
				background-color: $modal3;
				color			: $white;
			}
			
			.b_e {			
				background-color: lighten($modal,30%);
				color			: $white;
			}
		}
		
		&.score {
			font-size: 80%;
			
			thead th {
				background-color: $modal4;
			}
		}
		
		.current {
			background-color: lighten($modal,10%) !important;
			font-weight		: bold;
			
			a {
				color: $white;
			}
		}
		
		&.blue {
			
			caption {
				color: $blue !important;
			}
			
			thead th {
				background-color: $modal3;
			}
		}
		
		.back_blue th,.back_blue td {
			background-color: lighten($modal3,35%);
		}			
	}
	
	.ntt thead th {
		background-color: $modal3;
		color			: #FFF;
	}
	
	.enemy thead th {
		background-color: lighten($modal,30%);
		color			: #FFF;
	}
}