@charset "utf-8";
/* CSS Document */

@import "settings";

html {

	body {
		overflow		: hidden;
		grid-template	: 5em auto 3em / 4% 43.2% 52.8%;
		-ms-grid-rows	: auto auto auto;
		-ms-grid-columns: 4% 43.2% 52.8%;

		@include media($of) {
			grid-template	: 5em auto 3em / 4% 43.2% 52.8%;
			-ms-grid-rows	: auto auto auto;
			-ms-grid-columns: 4% 43.2% 52.8%;
		}

		@include media($ot) {
			font-size		: 0.875rem;
			grid-template	: 5em 4em auto 3em / 50% 50%;
			-ms-grid-rows	: 5em 4em auto 3em;
			-ms-grid-columns: 50% 50%;
		}

		@include media($nf) {
			overflow-y			 : visible;
			grid-template-columns: $max;
			 -ms-grid-columns	 : $max;
		}

		header#top {
			@include media($of) {
				grid-area			: 1 / 1 / 2 / 4;
				-ms-grid-row		: 1;
				-ms-grid-column		: 1;
				-ms-grid-column-span: 3;
				position			: $r;
			}

			@include media($ot) {
				grid-area			: 1 / 1 / 2 / 3;
				-ms-grid-row	 	: 1;
				-ms-grid-column		: 1;
				-ms-grid-column-span: 2;
			}
		}

		#global {
					
			.menu-trigger {
				@include fixT(5em,0.1%,10);
			}

			&.fix {

				@include media($ot) {
					
					& > dl {
					
						.menu-trigger {
							@include fixT(0,0,1000);
						}
						
						dd#live img {
							@include fixB(0,0,10);
						}
					}
				}
			}

			@include media($of) {
				grid-area			 : 2 / 1 / 4 / 3;
				-ms-grid-row	 	 : 2;
				-ms-grid-row-span	 : 2;
				-ms-grid-column-span : 2;
			}

			@include media($ot) {
				grid-area		 	: 2 / 1 / 3 / 3;
				-ms-grid-column	 	: 1;
				-ms-grid-row-span	: 1;
				-ms-grid-column-span: 2;
				-ms-grid-column 	: 1;
			}

			&> dl {
				grid-template	: auto auto auto / 0.75fr 9.25fr;
				-ms-grid-columns: 0.75fr 9.25fr;

				@include media($of) {
					grid-template	: auto auto auto / 0.8fr 9.2fr !important;
					-ms-grid-rows	: auto auto auto !important;
					-ms-grid-columns: 0.7fr 9.3frr !important;
				}

				@include media($ot) {
					grid-template	: auto auto / 1fr 1fr 1fr !important;
					-ms-grid-rows	: auto auto  !important;
					-ms-grid-columns: 1fr 1fr 1fr  !important;
				}

				.menu-trigger {

					@include media($of) {
						padding : 1em 0.5vw;
						@include fixT(5.5em,0,1);

						.new {
							@include abT(0.4em,3.5em,1);
						}
					}

					@include media($ot) {
						@include abT(0,0.05%,10);
							
						.new {
							@include abT(0.4em,3.5em,1);
						}
					}
				}

				& > dd#live {
					
					img {
						width		: $max * 0.9;
						min-width	: $max * 0.9;
						height		: auto;
						position	: $r;
						z-index		: 20;
						margin		: 0 0 0 0.4vw;
				
						@include media($of) {
							width: 3.2vw;
						}
				
						@include media($ot) {
							width		: 20vw;
							min-width	: 260px;
						}
						
						@include media($nf) {
							width		: 29vw;
							min-width	: 250px;
						}

						@include media($six) {
							width		: 15vw;
							min-width	: 185px;
						}
					}

					@include media($of) {
						grid-area			 : 2 / 1 / 4 / 2;
						-ms-grid-row	 	 : 2;
						-ms-grid-row-span	 : 2;
						-ms-grid-column	 	 : 1;
						-ms-grid-column-span : 1;
						justify-self		 : center;
						justify-align		 : start;
						-ms-grid-row-align	 : start;
						-ms-grid-column-align: center;
					}

					@include media($ot) {
						grid-area			 : 1 / 3 / 2 / 4;
						-ms-grid-row	 	 : 1;
						-ms-grid-row-span	 : 1;
						-ms-grid-column	 	 : 2;
						-ms-grid-column-span : 2;
						justify-self		 : end;
						justify-align		 : center;
						-ms-grid-row-align	 : center;
						-ms-grid-column-align: end;
						text-align			 : right;
					}
				}

				& > dd:not(#live) {

					@include media($of) {
						grid-row		: 1;
						-ms-grid-row	: 1;
						grid-column		: 2;
						-ms-grid-column	: 2;
						padding			: 2em;
						background-color: $black;
						position		: $r;
						top				: 0;
						left			: -100vw;
						margin-top		: 0;

						&:nth-of-type(3) {
							grid-row		: 2;
							-ms-grid-row	: 2;
							grid-column		: 2;
							-ms-grid-column	: 2;
							border			: none;
						}

						&:nth-of-type(4) {
							grid-row		: 3;
							-ms-grid-row	: 3;
							grid-column		: 2;
							-ms-grid-column	: 2;
						}
					}

					@include media($ot) {
						grid-row		: 2;
						grid-column		: 1;
						-ms-grid-row	: 2;
						-ms-grid-column	: 1;
						top				: -205vw;
						left			: 0;
						margin 			: -1em 0 0 0;

						&:nth-of-type(3) {
							grid-row		: 2;
							-ms-grid-row	: 2;
							grid-column		: 2;
							-ms-grid-column	: 2;
							border-left		: $white 1px dotted;
							border-right	: $white 1px dotted;
						}

						&:nth-of-type(4) {
							grid-row		: 2;
							-ms-grid-row	: 2;
							grid-column		: 3;
							-ms-grid-column	: 3;
						}
					}

					@include media($six) {
						grid-row			: 2;
						-ms-grid-row		: 2;
						grid-column			: 1 / span 2;
						-ms-grid-column		: 1;
						-ms-grid-column-span: 2;
						margin				: -1em 0 0 0;
						padding-bottom		: 3em;
						width 				: 100vw;

						&:nth-of-type(3) {
							grid-row			: 3;
							-ms-grid-row		: 3;
							grid-column 		: 1 / span 2;
							-ms-grid-column		: 1;
							-ms-grid-column-span: 2;
							border				: none;
						}

						&:nth-of-type(4) {
							grid-row			: 4;
							-ms-grid-row		: 4;
							grid-column 		: 1 / span 2;
							-ms-grid-column		: 1;
							-ms-grid-column-span: 2;
						}
					}
				}
			}
		}

		main {
			grid-template	: auto / 45% 55%;
			-ms-grid-rows	: auto;
			-ms-grid-columns: 45% 55%;
			overflow-x		: hidden;
			overflow-y		: visible !important;

			@include media($of) {
				grid-area			: 2 / 2 / 4 / 4;
				-ms-grid-row		: 2;
				-ms-grid-row-span	: 2;
				-ms-grid-column		: 2;
				-ms-grid-column-span: 2;
				grid-template		: auto / 45% 55%;
				-ms-grid-rows		: auto;
				-ms-grid-columns	: 45% 55%;
			}

			@include media($ot) {
				grid-area			: 3 / 1 / 5 / 3;
				-ms-grid-row		: 3;
				-ms-grid-row-span	: 2;
				-ms-grid-column		: 1;
				-ms-grid-column-span: 2;
				grid-template		: auto / 50% 50%;
				-ms-grid-rows		: auto;
				-ms-grid-columns	: 50% 50%;
			}

			@include media($nf) {
				grid-template		: auto auto / $max;
				-ms-grid-rows		: auto auto;
				-ms-grid-columns	: $max;
				-ms-grid-row-span	: 1;
				-ms-grid-column-span: 1;
			}

			& > header {
				position 		: $r;
				overflow 		: hidden;
				background-size : cover;
				background 		: url(#{$ip}top/back1.jpg) no-repeat left center !important;
				
				h2 {
					
					@include abT(50%,50%,1);
					margin: -115px 0 0 -125px;

					@include media($nf) {
						@include abT(40%,50%,1);
					}

					@include media($six) {
						margin: -92px 0 0 -75px;
					}
				}
					
				ul {
					display	 : flex;
					flex-flow: row nowrap;

					&:first-of-type {							
						@include abT(0,0,0);
					}

					&:last-of-type {							
						@include abB(0,0,0);
					}

					li {
						margin: 1em 0.5em;
					}
				}
			}

			& > div {
				background : url(#{$ip}common/dot.png) repeat top left , url(#{$ip}top/back2.jpg) no-repeat center center;
				background-size	 : auto , cover;
				overflow-x		 : hidden;
				overflow-y		 : visible !important;
				padding		 	 : 0 $max*0.015 !important;
				position		 : $r;
				z-index			 : 0;

				@include media($ot) {
					grid-area		: 1 / 2 / 2 / 3;
					-ms-grid-row	: 1;
					-ms-grid-column	: 2;
				}

				@include media($nf) {
					grid-area		: 2 / 1 / 3 / 2;
					-ms-grid-row	: 2;
					-ms-grid-column	: 1;
				}

				#timer {
					margin-top	: -3em;
					text-align	: center;
					font-weight : bold;

					.yycountdown-box {
 						font-family  : "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
						margin-top	 : 1em;
						color		 : $navy;
						text-shadow  : -1px -1px 3px $white, 1px 1px 3px $white;

						.yyc-day , .yyc-hou , .yyc-min , .yyc-sec {
							font-size: 3em;
						}
					}
				}

				article {
					display			: flex;
					flex-flow		: row wrap;
					width			: $max * 5;
					background		: none;

					& > section {
						width		: $max / 5;
						background	: none !important;
						padding		: 0 !important;
						margin		: 0 !important;

						img {
							width  : $max * 0.8;
							height : auto;
							display: block;
							margin : 10em auto 3em auto;
						}

						p {
							padding : 2em;
							color	: $white;
						}

						ol {
							display			: flex;
							flex-flow		: row wrap;
							justify-content : space-around;
							list-style		: none;
							width			: $max;
							margin-bottom	: 6em;
						}

						a {

							button {
								color			: lighten($black,20%);
								background-color: $white;
								display			: block;
								margin			: 0 auto 5em auto;
								padding			: 1em;
								text-align		: center;
								opacity			: 0.7;
								overflow		: hidden;
								cursor			: pointer;
								border			: none;
								width			: $max / 2.5;
								min-width		: 250px;

								&:hover {
									opacity: 1;
								}

								span {
									margin-right: 1em;
								}
							}
						}
					}
				}
			}

			dl {
				@include abT(0,0,0);
				display			: flex;
				flex-flow		: row nowrap;
				color			: $white;
				text-align		: center;
				align-items		: stretch;
				justify-content	: space-between;
				width			: $max;
				overflow 	 	: hidden;
				
				&.fix {
					@include fixT(4em,0,10);
				}
				
				&.fix2 {
					@include fixT(5em,47.2%,10);
					width: $max * 0.519;
					
					@include media($of) {
						width: $max * 0.528;
					}
				}
				
				&.fix3 {
					@include fixT(9em,50%,10);
					width: $max * 0.5;
				}
				
				dt {
					font-size 	: 2em;
					background	: $modal4;
					flex-grow	: 2;
					padding		: 0.7em 0.5em 0 0.5em;
				
					span {
						font-size: 0.5em;
						text-align: left;
					}
				}

				dd {
					font-size	: 0.9em;
					color		: darken($white , 30%);
					border-left	: $modal2 1px solid;
					background	: $modal4;
					min-width	: 5em;
					padding	  	: 0 0.5em;

					&:nth-of-type(-n + 3) {
						cursor: pointer;
						color : $white;
					}

					/*&:hover,*/
					&.current {
						background	: none;
						color		: $white;
						text-shadow	: -1px -1px 3px $black, 1px 1px 3px $black;
					}
				}
				
				span {
					font-size: 0.8em;
				}
			}
		}

		#pagetop {
			display: none;

			@include media($nf) {
				display: block;
			}
		}

		footer {

			@include media($of) {
				grid-area		: 3 / 3 / 4 / 4;
				-ms-grid-row	: 3;
				-ms-grid-column	: 3;
				margin-top 	 	: 0;
			}

			@include media($ot) {
				grid-area		: 4 / 2 / 5 / 3;
				-ms-grid-row	: 4;
				-ms-grid-column	: 2;
			}

			@include media($nf) {
				grid-area			: 4 / 1 / 5 / 2;
				-ms-grid-row		: 4;
				-ms-grid-column		: 1;
			}
		}

		&#nf_title {

			main {
				overflow-y: hidden !important;
				
				header {
					
					h2 {
						margin-top: -35%;
					}
					
					h3 {
						margin-top: 11em;
					}
				}

				div {
					padding: 0 !important;
				}

				@include media($nf) {
					grid-template	: auto 50em / 100%;
					-ms-grid-rows	: auto 50em;
					-ms-grid-columns: 100%;
			
					header {
						overflow: visible !important;
						height 	: auto !important;
					
						h2 {
							margin-top: -20%;
						}
					}
				}
			}
		}
	}
}
